
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* Dark 02 */
.text-gray{
    color: #424242;
}
/* Dark 03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 24px 21px 25px;
    border: none;
    color: #FFFFFF;
    font-size: 1.25rem;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header Styles */



/* Navbar Related Styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

/* Let 16px = 1rem */
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    /* color: #424242; */
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Related styles */
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 49px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    max-width: 100%;
}

/* teams and feture related styles */
.teams{
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 73px;
    max-width: 573px;
}


#quick-list{
    font-weight: 500;
}

/* features section related styles  */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.features{
    gap: 140px;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    /* margin-right: 54px; */
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -77px;
    margin-left: -92px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.feature-architect img{
    width: 100%;
}

/* some fact related styles */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-describtion{
    max-width: 542px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* spomsor related device */
.sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

/* Responsive media query */

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams, .features{
        flex-direction: column;
    }

    .team-image-container, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }

    .our-features{
        margin-left: 20px;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    .facts-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
}

/* Medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams, .features{
        flex-direction: column;
    }

    .our-features{
        margin: 50px auto;
    }

    .sponsor-companies, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}